<div class="view-container">

        <div class="page-splash" ng-class="{'page-splash-active':spinner}">
            <div class="page-splash-message">
                <div class="page-splash-message-subtle">Loading...</div>
            </div>
        </div>

        <section id="content" class="animate-fade-up" style="padding:25px"> 
            <div class="row print-item no-print-padding">
                <div class="col-md-2">
                    Select County :
                </div>
                <div class="col-md-10">
                    <div id="dropdownWrapper" class="panel panel-default">
                        <select class="k-widget k-dropdown k-header k-input" (change)="changeCounty($event.target.value)" [(ngModel)]="selectedCounty.CountyID">
                            <option *ngFor="#county of counties" value="{{county.CountyID}}">
                                {{county.County}}
                            </option>
                        </select>
                    </div>
                </div> 
            </div> 

            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12 col-xsm-6" style="opacity:.8">
                            <div class="panel mini-box">
                                <!--<span class="box-icon bg-success">
                                    <i class="fa fa-rocket"></i>
                                </span>-->
                                <span class="btn-icon btn-icon-round btn-icon-lg-alt" style="background-color:#c3151c; color:white">
                                    <span class="ti-car"></span>
                                </span>
                                <div class="box-info">
                                    <p class="size-h2">{{numberOfProjects}} Projects</p>
                                    <!--<p class="text-muted"><span data-i18n="Growth"></span></p>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xsm-6" style="opacity:.8">
                            <div class="panel mini-box">
                                <!--<span class="box-icon bg-info">
                                    <i class="fa fa-users"></i>
                                </span>-->
                                <span class="btn-icon btn-icon-round btn-icon-lg-alt" style="background-color:#003662; color:white">
                                    <i class="ti-user"></i>
                                </span>
                                <div class="box-info">
                                    <p class="size-h2">{{amountNeeded | currency}} asked</p>
                                    <!--<p class="text-muted"><span data-i18n="New users"></span></p>-->
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-12 col-xsm-6">
                            <div class="panel mini-box">
                                <!--<span class="box-icon bg-warning">
                                    <i class="fa fa-dollar"></i>
                                </span>-->

                                <span class="btn-icon btn-icon-round btn-icon-lg-alt" style="background-color:#91c63d; color:white">
                                    <i class="ti-money"></i>
                                </span>
                                <div class="box-info">
                                    <p class="size-h2">{{NuDistricts}} Districts</p>
                                    <!--<p class="text-muted"><span data-i18n="Profit"></span></p>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xsm-6">
                            <div class="panel mini-box">
                                <!--<span class="box-icon bg-danger">
                                    <i class="fa fa-shopping-cart"></i>
                                </span>-->
                                <span class="btn-icon btn-icon-round btn-icon-lg-alt" style="background-color:#ef5727; color:white">
                                    <i class="ti-microphone"></i>
                                </span>

                                <div class="box-info">
                                    <p class="size-h2">{{NuSchools}} Schools</p>
                                    <!--<p class="text-muted"><span data-i18n="Sales"></span></p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8" id="mapContainer"> 
                    <!--<sebm-google-map [latitude]="lat" [longitude]="lng">
                        <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
                    </sebm-google-map>-->
                </div>
            </div> 

            <div class="row">
                <div class="col-lg-12">
                    <div id="example" class="k-content" style="background:transparent">
                        <div class="chart-wrapper">
                            <div id="chart"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Table"></span></strong></div>
                    <div class="k-header k-grid-toolbar"><a id="downloadLink" (click)="downloadExcel()" href="" class="k-button k-button-icontext k-grid-Download"><span class=" "></span>Download as Excel</a></div>
                    <div id="grid"></div>
                </div>
            </div>

        </section>
    </div>
 