<div class="page">
    <div class="row">
        <div class="col-sm-6">
            <h2 style="color:#0088a3;font-style:italic;font-family:GothamThin">Welcome to the Commit! Data Dashboard</h2>
            <hr>
            <h4>Why a Data Dashboard?</h4>
            <p>
                One of the most common barriers cited by members of the Commit Partnership (foundations, nonprofits, school districts, etc.) is the difficulty in quickly accessing publicly available education data in order to better understand where to focus their efforts, where to go to learn about best practices being achieved by others, and how to use data to demonstrate impact at a grade or campus level. 
            </p>
            <p>
                To increase the transparency and efficiency of access to public education data, the Commit! Partnership has launched this data dashboard with the support of local foundations as an initially free resource for funders, nonprofits, school districts, and other entities supporting public education to easily find, view, and use the publicly available data that matters most to them. We hope that this tool can free up valuable time for educators, administrators, nonprofits, and other leaders to spend less time searching for data and more time addressing their core mission and doing what they do best.
            </p>
            <h4>About the Data Dashboard</h4>
            <p>
                In this tool, district and campus pages provide longitudinal and snapshot views of student demographics, achievement, and staff composition for all Texas public schools. We will continue to evolve and improve this tool over time with your help and feedback. Please leave us your valuable feedback using the button above.
            </p>
            <h4>A Note About the Data and its Intended Use</h4>
            <p>
                We recognize that data is just numbers and do not tell the full story behind every child, every campus, or every district. While data serves as a useful guide for informing our work, data alone will change nothing without corresponding action by the collective community to support our children and our schools.
            </p>
            <p>
                We also understand that having data in this format is very empowering. We make this tool available under the following premise: that data be used as a flashlight to find bright spots and areas of focus and not as a club to use negatively. In using and communicating the data, please be respectful of the many individuals working incredibly hard for our children and our communities.
            </p> 
        </div>
            <div class="col-sm-6">  
                <div class="panel panel-default">
                    <div class="panel-heading"><strong><i class="ti-bar-chart"></i> Dashboard Introduction</strong></div>
                    <div class="panel-body"> 
                        <iframe width="100%" height="350" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/qkpyFY6p5g0"></iframe>
                    </div>
                </div> 
            </div> 
        </div> 
        <hr> 
        <div class="row"> 
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span style="background-color:#c3151c; color:white" class="btn-icon btn-icon-round btn-icon-lg-alt bg-danger">
                    <i class="ti-flag-alt"></i>
                </span>
                <div class="box-info">
                    <p style="color:#0088a3" class="size-h3"><a style="color:#0088a3" href="#/campus">Campus Data</a></p>
                    <p class="text-muted">Look at Campus Information</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span style="background-color:#003662; color:white" class="btn-icon btn-icon-round btn-icon-lg-alt bg-warning">
                    <i class="ti-flag-alt-2"></i>
                </span>
                <div class="box-info">
                    <p style="color:#0088a3" class="size-h3"><a style="color:#0088a3" href="#/district">District Data</a></p>
                    <p class="text-muted">See Data at the District Level</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span style="background-color:#91c63d; color:white" class="btn-icon btn-icon-round btn-icon-lg-alt bg-success">
                    <i class="ti-server"></i>
                </span>
                <div class="box-info">
                    <p style="color:#0088a3" class="size-h3"><a style="color:#0088a3" href="#/bulk">Bulk Data</a></p>
                    <p class="text-muted">Download Large Data Sets</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="panel mini-box">
                <span style="background-color:#ef5727; color:white" class="btn-icon btn-icon-round btn-icon-lg-alt bg-info">
                    <i class="ti-ruler-pencil"></i>
                </span>
                <div class="box-info">
                    <p style="color:#0088a3" class="size-h3"><a style="color:#0088a3" href="#/donors">Donors Choose Data</a></p>
                    <p class="text-muted">All Dallas County Projects</p>
                </div>
            </div>
        </div>
    </div> 
</div> 